{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <h3>Выберите дальнейшие действия</h3>
  <hr>
  <h4>Для вывода информации о модели:  гиперпараметрах модели, датасете, на котором она обучалась, значении функции
    потерь на обучающей и валидационной (при наличии) выборках после каждой итерации - нажмите на кнопу "info". <br>Для
    получения предсказания загрузите файл с тестовой выборкой нужного формата (было сказано ранее) и нажмите на кнопку
  "predict"</h4>
  <hr>
      <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('info') }}"" role="button">Info</a>
  <hr>
    {{ wtf.quick_form(form) }}
  <hr>
  <p>Machine learning is cool!</p>
</div>
{% endblock %}