{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <h3>Gradient Boosting</h3>
  <hr>
  <h4>Введите параметры для модели и загрузите обучающую выборку (файл .csv). Столбец с целевой переменной обязательно должен называться "TARGET".</h4>
  <br> <h5>При вводе 0 используются параметры по умолчанию.По желанию можно загрузить валидационную выборку того же формата</h5>
  {% for mesg in get_flashed_messages() %}
      <h2>{{ mesg }}</h2>
      {% endfor %}
  <hr>
    {{ wtf.quick_form(form) }}
  <hr>
  <p>Machine learning is cool!</p>
</div>
{% endblock %}